.head{
 width: 100vw;
 height: 100vh;
 background-color: #344151;
 display: flex;
 flex-direction: column;
 justify-items: center;
 justify-content: center;
 gap: 2rem;
}

.action{
  color:#0398d4 ;
  text-align: center;
  font-size: large;
  font-weight: bold;
}

.operation{
  border: none;
  display: flex;
  justify-content: center;
  background-color: white;
  margin-left: 43%;
  gap: 4rem;
  margin-right: 43%;
  height: 2rem;
}

.sub{
  color:  #344151;
  border-radius: 0.5em;
  border: none;
  background-color: white;
  font-size: x-large;
  cursor: pointer;
}

.add{
  border: none;
  color:  #344151;
  border-radius: 0.5em;
  background-color: white;
  cursor: pointer;
  font-size: x-large;
}

.reset{
  color: #344151;
  margin-left: 45%;
  margin-right: 45%;
  border: none;
  border-radius: 2rem;
  font-size: larger;
  cursor: pointer;
  background-color: #0398d4;
}

.value{
  color: #344151;
  font-size: x-large;
}